.dashboard-content {
    padding: 20px;
    width: 100%;
  }
  
  .dashboard-title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .dashboard-title h1{
    margin-left: 10px;
    font-size: 4rem;
  }
  .dashboard-title h2{
    margin-left: 10px;
    font-size: 2rem;
  }
  .dashboard-title h3{
    margin-left: 10px;
    font-size: 2rem;
  }
  .card {
    height: 10rem;
    weight: 10rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 20px;
  }
  