.dashboard-content {
    padding: 20px;
    width: 100%;
  }
  
  .dashboard-title {
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .card {
    height: 10rem;
    weight: 10rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 20px;
  }
  