
:root {
    --background-color: #f0f0f0;
    --container-background-color: #ffffff;
    --primary-color: #f05454;
    --secondary-color: #ccc;
    --text-color: #333;
    --secondary-text-color: #666;
    --input-border-color: #ccc;
    --text-white-color: #ffffff;
    --border-radius: 10px;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --font-size-extra-large: 32px;
    --font-size-large: 24px;
    --font-size-medium: 18px;
    --font-size-small: 14px;
    --padding: 20px;
  }
  
  body, html {
    
    background-color: var(--background-color); /* Use CSS variable */
  }
  
.centered{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-div{
    background-color: var(--primary-color);
    color: var(--text-white-color);
    border-radius: var(--border-radius);
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}
.sm-container{
    width: 100%;
    max-width: 400px;
    margin: 5rem auto;
    padding: var(--padding);
    background-color: var(--container-background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
    justify-content: center;
    align-items: center;
}
.md-container {
    width: 100%;
    max-width: 600px;
    margin: 5rem auto;
    padding: var(--padding);
    background-color: var(--container-background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .md-container .sm-container, h1 {
    font-size: var(--font-size-extra-large);
  }
  
  .md-container .sm-container, h3 {
    margin-bottom: 30px;
    font-size: var(--font-size-medium);
  }
  
  .md-container .sm-container, form {
    display: flex;
    flex-direction: column;
  }
  
  .md-container .sm-container, input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    font-size: var(--font-size-small);
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .md-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancel-button {
    background-color: var(--secondary-color);
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  textarea {
    resize: none;
    width: 100px;
  }
  
  .navbar{
    background-color: var(--primary-color);
    color: var(--text-white-color);
  }

  .navbar h2{
    font-size: 20px;
    font-weight: 600;
  }